/**************************************************************
General
**************************************************************/
h1, h2 , h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
  color:rgb(106, 192, 193);
  font-weight: bold;
}
p{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
/**body{
  background-image: url("../img/background.jpg");
  background-size: cover;
}**/
.wrap{
  width:90%;
  max-width: 1100px;
  margin:0 auto;
}

/**************************************************************
Navigation
**************************************************************/
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}
.top-bar ul {
  background-color: transparent;
}
.top-bar ul li ul{
  background-color: rgb(45,45,45);
  border:none;
  margin-top: 17px;
}
.top-bar{
  background-color: rgb(45,45,45);
  width:auto;
}
.top-bar-right ul{
  padding-top: .8em;
}
.menu-text{
  list-style-type: none;
}
.title-bar{
  background-color: transparent;
}


/**************************************************************
Hero
**************************************************************/
.hero{
background-color: white;
height:22em;
background-image: url("../img/vertical_cloth2.png");
padding: 3em 0;
}
.wrap-cont{
  width:85%;
  max-width: 1000px;
  margin:0 auto;
}
li h3{
  color:white;
}
.orbit-container{
  width:85%;
  margin:auto;
}

/**************************************************************
Main Section
**************************************************************/
.main{
  background-color: rgb(50,50,50);
  padding: 2em 0 1.5em 0;

}

/**************************************************************
Footer
**************************************************************/
footer{
  background-color: rgb(45,45,45);
  padding-bottom: 3em;
  text-align: center;
}

footer a{
  display: block;
  padding-left: 1em;
}

.column h4{
  padding-top: 2.4em;
  text-align: center;
}
span{
  color:rgba(255,255,255,.5);
}
.wrap-footer{
  text-align: center;
  width:50%;
  max-width: 600px;
  margin:0 auto;
}
.wrap-footer2{
  text-align: center;
  width:80%;
  max-width: 900px;
  margin:0 auto;
}
table td{
  width: 25%;
}
table tbody, table tbody tr:nth-child(even) {
  background-color: transparent;
}

.table-image{
  width:60px;
}

a:link, a:visited{
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color:white;
}
a:hover{
  ont-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color:gold;
}
